{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        {% if request.user.is_student %}
        <li class="breadcrumb-item"><a href="{% url 'user_course_list' %}">{% trans 'My courses' %}</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">{% trans 'Programs' %}</a></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'program_detail' course.program.id %}">{{ course.program }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
    </ol>
</nav>

<div class="manage-wrap">
    <div class="d-flex">
        <div class="">
            {% if request.user.is_superuser %}
            <a class="btn btn-sm btn-light" href="{% url 'edit_course' course.slug %}">
                <i class="fas fa-pencil-alt"></i> {% trans 'Edit course' %}
            </a>
            {% endif %}
            {% if request.user.is_superuser or request.user.is_lecturer %}
            <a class="btn btn-sm btn-primary" href="{% url 'upload_file_view' course.slug %}"><i
                    class="fas fa-plus"></i>
                {% trans 'Upload new file' %}
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'upload_video' course.slug %}"><i class="fas fa-plus"></i>
                {% trans 'Upload new video' %}
            </a>
            {% endif %}
        </div>
        <!-- <div class="ms-auto">
            <a class="btn btn-sm btn-warning" href="{% url 'quiz_index' course.slug %}"><i class="fas fa-list"></i>
                {% trans 'Take a Quiz' %}
            </a>
        </div> -->
    </div>
</div>

<div class="title-1">{{ course }}</div>
<p class="small text-muted">{{ course.summary }}</p>

{% include 'snippets/messages.html' %}

<div class="container">

    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">{% trans 'Assessments' %}</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Assessment Title' %}</th>
                            <th>{% trans 'Uploaded Date' %}</th>
                            <th>{% trans 'Instructions' %}</th>
                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <th>{% trans 'Actions' %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for assessment in assessments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <!-- <a href="{% url 'assessment' assessment.assessment_generation_id %}" -->
                                <a href="{% url 'program_detail' course.program.id %}"
                                    title="{{ assessment.test.heading }}" class="d-flex align-items-center">
                                    {{ assessment.test.heading|title }}
                                </a>
                            </td>
                            <td>2024-09-01</td>
                            <th class="w-50">
                                <code>
                                    {{ assessment.welcome.instructions|safe }}
                                </code>
                            </th>

                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_video_edit' slug=course.slug video_slug=video.slug %}"
                                        class="update" title="{% trans 'Edit' %}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_video_delete' slug=course.slug video_slug=video.slug %}"
                                        class="delete" title="{% trans 'Delete' %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    {% trans 'No video Uploaded.' %}
                                    {% if request.user.is_superuser or request.user.is_lecturer %}
                                    <a href="{% url 'upload_video' course.slug %}" class="text-primary">
                                        <i class="primary" style="font-size: 22px;">
                                            {% trans 'Upload now.' %}
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}