# =============================
# Email config

# For development or quick testing use console as the email backend
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# For production use smtp, uncomment the below variable
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="SkyLearn <youremail@example.com>"
EMAIL_HOST_USER="<youremail@example.com>"
EMAIL_HOST_PASSWORD="<your email password>"

# =============================
# Other

DEBUG=True
SECRET_KEY="<your_secret_key>"


POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres_db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

FIREBASE_API_KEY = ""
FIREBASE_ENABLED = True
FIREBASE_UNIVERSE_DOMAIN = ""
FIREBASE_ACCOUNT_TYPE = ""
FIREBASE_PROJECT_ID = ""
FIREBASE_PRIVATE_KEY_ID = ""
FIREBASE_PRIVATE_KEY = ""
FIREBASE_CLIENT_EMAIL = ""
FIREBASE_CLIENT_ID = ""
FIREBASE_AUTH_URI = ""
FIREBASE_TOKEN_URI = ""
FIREBASE_AUTH_PROVIDER_X509_CERT_URL = ""
FIREBASE_CLIENT_X509_CERT_URL = ""
FIREBASE_AUTH_DOMAIN = ""
FIREBASE_STORAGE_BUCKET = ""
FIREBASE_MESSAGING_SENDER_ID = ""
FIREBASE_APP_ID = ""
FIREBASE_MEASUREMENT_ID = ""
ZOOM_API_KEY=""
ZOOM_API_SECRET = ""
ZOOM_ACCOUNT_ID = ""
MEETING_PROVIDER = ""
