{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="col-md-4 mx-auto mt-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-lock me-2"></i>
      {% trans 'Sign in with Email Link' %}
    </div>
    <div class="card-body">
      <div id="auth-container">
        <!-- Form will be dynamically inserted here -->
      </div>
      <div id="message-wrapper" class="mt-3"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'js/login.js' %}"></script>
{% endblock %}