<!-- {% extends 'base.html' %} -->
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}
{% include 'snippets/messages.html' %}

<div class="h-100">
    <div class="h-100">
        <h1>{{slug}}</h1>
        <!-- iframe embed -->
        <div class="h-100">
            <iframe id="sakshm-iframe" class="embed-responsive-item" src="{{ path }}" width="100%" height="100%"></iframe>
        </div>
    </div>
</div>
{% endblock content %}

<script>
    window.firebaseConfig = {
        apiKey: "{{ FIREBASE_API_KEY|escapejs }}",
        authDomain: "{{ FIREBASE_AUTH_DOMAIN|escapejs }}",
        projectId: "{{ FIREBASE_PROJECT_ID|escapejs }}",
        storageBucket: "{{ FIREBASE_STORAGE_BUCKET|escapejs }}",
        messagingSenderId: "{{ FIREBASE_MESSAGING_SENDER_ID|escapejs }}",
        appId: "{{ FIREBASE_APP_ID|escapejs }}",
        measurementId: "{{ FIREBASE_MEASUREMENT_ID|escapejs }}"
    };
</script>

{% block js %}
<script type="module" src="{% static 'js/saksham_wrapper.js' %}"></script>
{% endblock %}
